<nav>
  <ul class="menu">
    <li><a routerLink="/">Головна</a></li>
    <li><a routerLink="/lab1">Лабораторна 1</a></li>
    <li><a routerLink="/lab2">Лабораторна 2</a></li>
    <li><a>Лабораторна 3</a></li>
    <li><a>Лабораторна 4</a></li>
    <li><a>Лабораторна 5</a></li>
    <li class="slider"></li>
  </ul>
</nav>

<!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group> -->

<router-outlet></router-outlet>
